body{
margin-left: 5%;
background-color: rgb(228, 228, 228);
}
.Navbar{
    list-style: none;
    display: flex;
    gap: 18em;
  
}
.Navbar1{
display: flex;
gap: 3em;
}
.Navbar2{
    display: flex;
    gap: 3em;
}
.sec1{
    display: flex;
}
#shoemain{
    width: 150%;
    /* margin-right: 50%; */
    /* background-color: white; */
}
#h1{
    font-size: 70px;
}
#icon{
    color: red;
}
#home{
    color: red;
}
#fix{
    color: red;
}
#findout{
    border-radius: 5px;
    padding: 10px;
}
#play{
    width: 15%;
    /* height: 3%; */
}
#bestc{
    text-align: center;
}
.pg2{
    display: flex;
    gap: 2em;
}
#puma1{
    width: 35%;
}
#nike1{
    width: 35%;
}
#adidas1{
width: 35%;
}
.pg2a{
display: flex;
border: solid white;
background-color: white;
border-radius: 10px;
margin-right: 5%;
}
.pg2b{
display: flex;
border: solid white;
background-color: white;
border-radius: 10px;
margin-right: 5%;
}
.pg2c{
display: flex;
border: solid white;
background-color: white;
border-radius: 10px;
margin-right: 5%;
}
#featuredp{
    text-align: center;
}
.pg3 ul{
    list-style: none;
    font-size: 30px;
    display: flex;
    gap: 2em;
}
#men{
    color: red;
}
.mid{
    display: flex;
}
.mida{
    display: flex;
    gap: 5em;
}
.pg3a{
    display: flex;
}
#adds1{
    width: 50%;
}
#nike1{
    width: 50%;
}
#puma1{
    width:50%;
}
#fila1{
    width: 20%;
}
.pg3b{
    display: flex;
}
#pumaa{
width:10% ;
height: 10%;
}
#nikee{
width: 10%;
height: 10%;
}
#adidass{
width: 10%;
height: 10%;
}
adidass1{
width: 10%;
height: 10%;
}
#seemore{
    margin-left: 40%;
}
#newarrival{
    text-align: center;
}
#f1{
width: 20%;
}
#f2{
width: 20%;
}
.pg4{
    display: flex;
}


.footer{
    background-color: rgb(253, 116, 116);
    display: flex;
    gap: 10%;
    
}
.company{
    list-style: none;
}
.contact{
    list-style: none;
}
.more{
    list-style: none;
}
#gplay{
width: 20%;
}
#appstore{
width: 20%;
}
.last{
    list-style: none;
}
.icons{
    display: flex;
    gap: 1em;
}
.lorem{
    margin-left: 5%;
}
.secondlast{
    text-align: center;
    border: solid  rgb(246, 187, 246);
    background-color: rgb(246, 187, 246);
    padding-bottom: 50px;
    padding-top: 30px;
    border-radius: 20px;
    margin: 0 10% 0 10%;
}
#mail{
padding: 10px;
border-radius: 10px;
}
#submit{
    padding: 10px;
    border-radius: 10px;
}
